@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.left-side{
    height: 945px;
    width: 332px;
    display: flex;
    flex-direction: column;
    border-right: solid 1px gray;
   
   
    font-family: poppins;
}
.left-top{
   
    display: flex;
}
.top-content{
    margin-left:27px ;
   
}
.icon{
    margin-top: 37px;
    margin-left: 19px;
}
.left-head{
    font-size: 25px;
}
.para{
    margin-top: -33px;
}
.second{
   
  
}
.b-para{
    margin-left: 19px;
    font-size: 21px;
   
}
.bb-para{
    margin-left: 19px;
    font-size: 18px;
    color: gray;
}
.left-second{
   
    display: flex;
   
}
.left-bottom{
    border-bottom:  solid 1px gray;
    
}
.left-footer{
   
    margin-top: 225px;
    text-align: center;
}
.full{
    display: flex;
}
.right{
    width: 100%;
    height: 100px;
    font-family: poppins;
}
.right-second{
  
    width: auto;
    margin-left: 16px;
    font-family: poppins;
}
.right-top{
    background-color:black;
    height: 68px;
    margin-top: -30px
}
.right-second-cont{
    display: flex;
    max-width:843px;
   
    justify-content: center;
    border-bottom: solid 1px gray;
    font-family: poppins;
}
.text{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 757px;

}
.textt{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 758px;

}
.texttt{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 758px;
    height: 100px;
}
.texttt:focus{
    outline: none;
    width: 758px;
    height: 100px; 
}
.textt:focus{
    outline: none;
    width: 758px; 
}
.text:focus{
    outline: none;
    width: 758px; 
}

.right-bottom-text{
    margin-left: 12px;
}
.p{
    margin-top: -12px;
    font-family: poppins;
}
.right-last-box{
    font-family: poppins; 
    width: auto;
    height: 600px;
   
    box-shadow: rgb(0 0 0 / 22%) 0px 50px 100px -20px, rgb(0 0 0) 0px 30px 0px -30px;
}
.right-last-para{
    font-family: poppins;
    color: gray;
    font-size: 15px;
    margin-top: -24px;
}
.right-last{
    width: auto;
}
.right-last-boxx {
    font-family: poppins;
    width: auto;
    height: 791px;
    margin: auto;
    box-shadow: rgb(0 0 0 / 22%) 0px 50px 100px -20px, rgb(0 0 0) 0px 30px 0px -30px;
}
.qr{
    margin: auto    ;
    display: flex;
    justify-content: center;
    margin: 10vh;
}
.color{
    margin-top: 50px;
    position: absolute;
    opacity: 0;
   
}
.btton{
    border: none;
outline:none;
background-color: white;
}
/***************************************/

.tab {
   
    word-spacing: 143px;
    margin-top: 34px;
    margin-left: 49px
}
.tablinks{
    border: none;
    background: white;
    font-size: 19px;
}
.tabcontent {
    display: none;
}

