@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.main{
  
}
.tab {
    display: flex;
    flex-direction: column;
    gap:0px;
    margin-top: 37px;
   
}
.tablinks{
    border: none;
    background: white;
    margin-top: 35px;
    border-radius: 50%;
    height: 53px;
    width: 55px;
    margin-left: 5px;
   
}
.tabcontent {
    display: none;
}
.right-second-cont {
   /* margin: auto; */
   background-color: white;
    height: 696px;
    width: 66px;
    border-radius: 33px;
    margin-top: -47px;
}
.right-bottom-text{
    margin: auto;
    margin-right: 93px;
    margin-left: 38px;
  
   
}
.right-last-box{
    width: 435px;
    height: 831px;
    margin-right: 36px;
    border-radius: 33px;
    background-color: #012989;
    margin-top: 33px;
}
.v{
    margin-top: 141px;
}
.inner-box{
    display: flex;
    background-color: #EAF7FF;
    /* justify-content: center; */
    border-radius: 15px;
    width: 1200px;
    height: 911px;
   margin-top: 21px; 
    margin: auto;
     font-family: poppins;
}
.searchformfld{
    position: relative;
    margin: 5px 0px;
   
}
.searchformfld label{
    position: absolute;
    margin-left: -425px;
    top: 317px;
    color: black;
    cursor: text;
    font-size: 20px;
    

}
.candidateName{
    width: 700px;
}
.searchformfld input:focus + label,.searchformfld input:not(:placeholder-shown) + label{
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    outline: none;
   
}
.searchformfld input:focus{
   
    outline: none;
}
.searchformfld{
    padding: 15px;
    margin:15px 0px;
    margin-top: -164px;
   
   

}
.searchformfld input{
    width: 431px;
}
.searchformfld label,.searchformfld input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 45px;
    height: 35px;
    background-color: #EAF7FF;
    
}
/*******/
.searchformfldd{
    position: relative;
    margin: 5px 0px;
     color: black;
   
}
.searchformfldd label{
    position: absolute;
    margin-left: -425px;
    
    top:-25px;
    color: black;
    cursor: text;
   
    

}
.candidateNamee{
    width: 700px;
    color: black;
}
.searchformfldd input:focus + label,.searchformfldd input:not(:placeholder-shown) + label{
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    outline: none;
  
}
.searchformfldd input:focus{
   
    outline: none;
  
}
.searchformfldd{
    padding: 15px;
    margin: 89px 0px;
   

}
.searchformfldd input{
    width:431px;
    
}
.searchformfldd label,.searchformfldd input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #EAF7FF;
    height: 40px;
   
   
    
}
/************************/
.searchformflddd{
    position: relative;
    margin: 5px 0px;
     color: black;
   
}
.searchformflddd label{
    position: absolute;
    margin-left: -425px;
    top: -5px;
    color: black;
    cursor: text;
   
    

}
.candidateNameee{
    width: 700px;
    color: black;
}
.searchformflddd input:focus + label,.searchformflddd input:not(:placeholder-shown) + label{
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    outline: none;
  
}
.searchformflddd input:focus{
   
    outline: none;
  
}
.searchformflddd{
    padding: 3px;
    margin: 17px 0px;
}
.searchformflddd input{
    width:431px;
    
}
.searchformflddd label,.searchformflddd input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #EAF7FF;
   
   
    
}

.right-last-para{
    font-family: poppins;
    color: gray;
    font-size: 15px;
    margin-top: -24px;
}
.right-last{
    width: auto;
}
.right-last-boxx {
   
    font-family: poppins;
    /* width: auto; */
    height: 889px;
    /* margin-top: 2px; */
    /* margin: auto; */
    margin-left: -49px;
}
.qr{
    margin: auto;
    position: absolute;
    margin-top: 72px;
    margin-left: 114px;
    height: 200;
    height: 182px;
    width: 200px;
   
}
.color{
  
    width: 274px;
    height: 43px;   
   
}
.col{
    text-align: center;
    position: absolute;
    margin-top: 384px;
    margin-left: 82px;
    opacity: 0;
}
.select{
    display: block;
    position: absolute;
    width: 300px;
    margin: auto;
    color: white;
    margin-top: 375px;
    margin-left: 68px;
    height: 60px;
    border-radius: 18px;
    background-color: #1239A0;
    border:none;
    word-spacing: 192px;
   
}
.btton{
    width: 112px;
    border: none;
    border-radius: 50px;
    background-color: #3BBDF9;
    height: 50px;
    margin-top: 421px;
    position: absolute;
    margin-left: -142px;
    color: white;
   
}
.bttonn{
    width: 112px;
    border: none;
    border-radius: 50px;
    background-color: #FF9B05;
    height: 50px;
    margin-top: 421px;
    position: absolute;
    color: white;
}
.first{
   margin: auto;
   margin-left: 44px;
}
.last{
    width: 100%;
}
.fi{
    text-align: center;
    width: 100%;
    padding-top: 61px;
    padding-left: 16px;
}
.ll{
    width: 100%;
    text-align: -webkit-center;
}
.n{
    padding-left: 5px;
    position: absolute;
    color: #072983;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -68px;
}
.london{
    margin-left: 31px;
}
#paris{
    padding-left: 26px;
}

  

.tabcontent.active {
    background-color: cornflowerblue;
  }
  .save{
    position: absolute;
    margin-top: -51px;
    margin-left: -5px;
    font-size: 23px;
  }
  .generate{
    width: 287px;
    height: 68px;
    background-color: #1239A0;
    border: none;
    border-radius: 37px;
    color: white;
    font-size: 17px;
  }
  .gen-1{
    padding-top: 84px;
  }
  .ref{
    width: 19px;
    float: left;
    margin-left: 28px;
    margin-right: -19px;
  }
  .gen-2{
    padding-top:24px;
  }
  .im-1{
    width: 19px;
                        transform: rotate(360deg) ;
                        margin-top: 6px;
  }
  ::placeholder{
    font-size: 16px;
    
  }
  .im-2{
    width: 19px;
                        transform: rotate(407deg) ;
                        margin-top: 6px;
  }
  .url{
    font-size: 50px;
    margin-top: 197px;
    color: #072983;
  }
 .txt{
    font-size: 53px;
                    margin-top: -197
                     px;
                    color: #072983;margin-left: 12px;
 }
 .close{
    display: none;
 }

  /**********************************************************************************************************/
  @media only screen and (max-width: 768px ) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.tab {
    display: flex;
    flex-direction: row;
    gap: 12px;
    position: absolute;
    margin-top: -25px
   
}
.close{
    display: block;
    border: none;
    background-color: #FF9B05;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: 156px;
 }
.tablinks{
    border: none;
    background: white;
    margin-top: 35px;
    border-radius: 50%;
    height: 53px;
    width: 55px;
    margin-left: 5px;
   
}
.tabcontent {
    display: none;
}
.right-second-cont {
    margin: auto; 
    background-color: #EAF7FF;
    height: 201px;
    width: 100%;
    border-radius: 33px;
    
}
.tab-box{
    background-color: white;
    height: 66px;
    border-radius: 67px; 
}
.right-bottom-text{
    margin: auto;
   
  
   
}
.right-last-box{
    width: 96%;
    height: 690px;
    margin-right: 36px;
    border-radius: 33px;
    background-color: #012989;
    margin-top: 175px;
}
.inner-box{
    
    background-color: #EAF7FF;
    justify-content: center;
    border-radius: 15px;
    display: block;
    width:100%;
    height: 911px;
  
    margin: auto;
     font-family: poppins;
}
.searchformfld{
    position: relative;
    margin: 5px 0px;
   
}
.searchformfld label{
    margin-left: 7px;
    top: 184px;
    color: black;
    cursor: text;
    font-size: 20px;
    

}
.candidateName{
    width: 700px;
}
.searchformfld input:focus + label,.searchformfld input:not(:placeholder-shown) + label{
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    outline: none;
   
}
.searchformfld input:focus{
   
    outline: none;
}
.searchformfld{
    padding: 15px;
    margin:15px 0px;
    margin-top: -164px;
   
   

}
.searchformfld input{
    width: 100%;
}
.searchformfld label,.searchformfld input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 45px;
    height: 35px;
    background-color: #EAF7FF;
    
}
/*******/
.searchformfldd{
    position: relative;
    margin: 5px 0px;
     color: black;
   
}
.searchformfldd label{
  /*  position: absolute; */
    margin-left: 0px;
    top: -10px;
    color: black;
    cursor: text;
   
    

}
.candidateNamee{
    width: 700px;
    color: black;
}
.searchformfldd input:focus + label,.searchformfldd input:not(:placeholder-shown) + label{
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    outline: none;
  
}
.searchformfldd input:focus{
   
    outline: none;
  
}
.searchformfldd{
    padding: 15px;
    margin: 89px 0px;
   

}
.searchformfldd input{
    width:100%;
    
}
.searchformfldd label,.searchformfldd input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #EAF7FF;
    height: 40px;
   
   
    
}
/************************/
.searchformflddd{
    position: relative;
    margin: 5px 0px;
     color: black;
   
}
.searchformflddd label{
    position: absolute;
    margin-left: -425px;
    top: -5px;
    color: black;
    cursor: text;
   
    

}
.candidateNameee{
    width: 700px;
    color: black;
}
.searchformflddd input:focus + label,.searchformflddd input:not(:placeholder-shown) + label{
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    outline: none;
  
}
.searchformflddd input:focus{
   
    outline: none;
  
}
.searchformflddd{
    padding: 3px;
    margin: 17px 0px;
}
.searchformflddd input{
    width:93%;
    
}
.searchformflddd label,.searchformflddd input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #EAF7FF;
   
   
    
}

.right-last-para{
    font-family: poppins;
    color: gray;
    font-size: 15px;
    margin-top: -24px;
}
.right-last{
    width: auto;
}
.right-last-boxx {
   
    font-family: poppins;
    /* width: auto; */
    height: 889px;
    /* margin-top: 2px; */
    /* margin: auto; */
    margin-left: -49px;
}
.qr{
    margin: auto;
    position: absolute;
    margin-top: 72px;
    margin-left: 78px;
    height: 200;
    height: 182px;
    width: 200px;
   
}
.color{
  
    width: 274px;
    height: 43px;   
   
}
.col{
    text-align: center;
    position: absolute;
    margin-top: 384px;
    margin-left: 82px;
    opacity: 0;
}
.select{
    display: block;
    position: absolute;
    width: 300px;
    margin: auto;
    color: white;
    margin-top: 375px;
    margin-left: 16px;
    height: 60px;
    border-radius: 18px;
    background-color: #1239A0;
    border: none;
    word-spacing: 192px;
}
.btton{
    width: 112px;
    border: none;
    border-radius: 50px;
    background-color: #3BBDF9;
    height: 50px;
    margin-top: 421px;
    position: absolute;
    margin-left: -142px;
    color: white;
   
}
.bttonn{
    width: 112px;
    border: none;
    border-radius: 50px;
    background-color: #FF9B05;
    height: 50px;
    margin-top: 421px;
    position: absolute;
    color: white;
}
.first{
    padding-top: 76px;
    margin: auto;
}
.last{
    width: 100%;
}
.fi{
    text-align: center;
    width: 100%;
    padding-top: 61px;
    padding-left: 16px;
}
.ll{
    width: 100%;
    text-align: -webkit-center;
    display: none;
    margin-top: -791px;
    position: absolute;
}
.n{
    padding-left: 5px;
    position: absolute;
    color: #072983;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -95px;
}
.london{
    margin-left: 31px;
}
#paris{
    padding-left: 26px;
}

  

.tabcontent.active {
    background-color: cornflowerblue;
  }
  .save{
    margin-top: -59px;
    margin-left: 15px;
    font-size: 23px;
    position: absolute;
  }
  .generate{
    width: 287px;
    height: 68px;
    background-color: #1239A0;
    border: none;
    border-radius: 37px;
    color: white;
    font-size: 17px;
  }
  .gen-1{
    padding-top: 9px;
    padding-left: 28px;
    padding-bottom: 35px;
  }
  .ref{
    width: 19px;
    float: left;
    margin-left: 28px;
    margin-right: -19px;
  }
  .gen-2{
    padding-top: 5px;
    padding-bottom: 34px;
    padding-left: 34px;
  }
  .cls{
    width: 100%;
    display: inline-flex;
    justify-content: end;
  }
  .im-1{
    width: 19px;
                        transform: rotate(360deg) ;
                        margin-top: 6px;
  }
  ::placeholder{
    font-size: 16px;
    
  }
  .im-2{
    width: 19px;
                        transform: rotate(407deg) ;
                        margin-top: 6px;
  }
  .url{
    font-size: 50px;
    margin-top:86px;
    color: #072983;
  }
  .txt{
    font-size: 53px;
   
    color: #072983;
    margin-left: 12px;
    margin-top: -62px;
  }
  .v{
    margin-top: 0px;
  }
  .b{
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }
  }